nav{
    height: 3rem;
  
    
}
/* nav h1{
    color: aliceblue;
    padding: 20px;
} */
nav ul{
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
    gap: 70px;
    
}
nav ul li{

    width: 80px;
    border-radius: 10px;
    transition: ease-out 0.8s;
    
}
nav ul li:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #867f9c;
    
  }
  
  nav ul li:active {
    transform: scale(0.9);
  }
 


@media  (max-width: 991px) {
    
   

}
@media  screen and (max-width:766px) and (min-width:581px){
    nav ul{
        display: flex;
        justify-content: end;
        align-items: center;
        padding-right: 40px;
        gap: 50px;
    }
    .sidebar{
    
        backdrop-filter: blur(5px);
        
    }
  
}
@media  screen and (max-width:580px) and (min-width:391px){
    nav ul{
        display: flex;
        justify-content: end;
        align-items: center;
        padding-right: 40px;
        gap: 50px;
    }
    .sidebar{
        background-color: rgb(44, 54, 57,0.15);
        backdrop-filter: blur(10px);
        
    }
}
@media  screen and (max-width:390px) {
    nav ul{
        display: flex;
        justify-content: end;
        align-items: center;
        padding-right: 40px;
        gap: 50px;
    }
    .sidebar{
        backdrop-filter: blur(5px);
        
    }
}
